<div class="book-grid book-grid-large">
  <% cardData.forEach(card => { %>
    <a href="<%= card.scryfall_uri %>">
      <img class="book-cover book-cover-large" src="<%= card.image_uris.normal %>">
    </a>
  <% }) %>
</div>