<h1>Registration</h1>
<form id="regForm" >
  <div class="form-row">
    <div class="form-item">
      <label style="text-align:left;">Username</label>
      <br>
      <input type="text" autocomplete="off" id="username" placeholder="Username">
      <br>
      <label style="text-align:left;">Password</label>
      <br>
      <input type="password" autocomplete="off" id="password" placeholder="Password">
    </div>
  </div>
  <div class="form-row form-row-end">
    <a class="btn btn-primary" href="/user/login">Return to Login</a>
    <button class="btn btn-primary" type="submit" >Register</button>
  </div>
</form>
<script>
			const form = document.getElementById('regForm')
			form.addEventListener('submit', registerUser)

			async function registerUser(event) {
				event.preventDefault()
				const username = document.getElementById('username').value
				const password = document.getElementById('password').value
				const result = await fetch('register', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						username,
						password
					})
				}).then((res) => res.json())

				if (result.status === 'ok') {
					// everything went fine
					alert('Success')

				} 
				else {
					alert(result.error)
				}
			}
		</script>