<h2 class="page-header">Login </h2>
<form action="/login" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label style="text-align:left;">Username</label>
      <br>
      <input type="text" name="username" value="Username">
      <br>
      <label style="text-align:left;">Password</label>
      <br>
      <input type="text" name="password" value="Password">
    </div>
  </div>
  <div class="form-row form-row-end">
    <a class= "btn btn-primary" href="/login/register" >Register</a>
    <button class="btn btn-primary" type="submit">Login</button> 
  </div>
</form>
<br>