<h2 class="page-header">Register </h2>
<form action="/login" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label style="text-align:left;">Username</label>
      <br>
      <input type="text" name="username" value="Username">
      <br>
      <label style="text-align:left;">Password</label>
      <br>
      <input type="text" name="password" value="Password">
    </div>
  </div>
  <div class="form-row form-row-end">
    <a class="btn btn-primary" href="/login">Return to Login</a>
    <button class="btn btn-primary" >Register</button>
  </div>
</form>
<br>